@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');


// // brand colors
// primary
$red: hsl(0, 78%, 62%);
$cyan:hsl(180, 62%, 55%);
$orange:hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

// neutrals
$dark-blue: hsl(234, 12%, 34%);
$dark-gray: hsl(0, 0%, 98%);
$gray-blue: hsl(229, 6%, 66%);

// // utility variables
$box-shadow: 0px 9px 15px -4px $gray-blue;
$mobile: 375px;
$tablet: 675px;
$desktop: 1440px;

// // utility classes
.gray-text {
	color: $gray-blue;
}
.font-w-200 {
	font-weight: 200;
}
@media only screen and (min-width: 1190px) {
	.card-push {
		transform: translateY(50%);
	}
}

body {
	height: 100vw;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	background: $dark-gray;
}

section {
	padding: 1.5rem;
}

.heading {
	p {
		max-width: 500px;
		margin: 0 auto;
	}

	@media only screen and (min-width: $tablet) {
		h1 {
			font-size: 2.5rem;
		}
	}
}

.cards {
	display: grid;
	grid-gap: 2rem;
	
	&__inner {
		box-shadow: $box-shadow;
		padding: 24px;
		border-radius: 8px;
		border-top: 5px solid;
		max-width: 350px;
		margin: 1rem;

		.title {
			margin-block-end: -0.5em;
		}

		summary {
			color: $gray-blue;
		}

		.icon {
			float: right;
			padding-top: 1rem;
		}

		&.border-cyan {
			border-color: $cyan;
		}
		&.border-red {
			border-color: $red;
		}
		&.border-orange {
			border-color: $orange;
		}
		&.border-blue {
			border-color: $blue;
		}
	}

	@media only screen and (min-width: $mobile) {
		display: flex;
		flex-wrap: wrap;
    justify-content: center;
		margin: 0 auto;
    max-width: 1230px;
		
		&__inner {

		}
		// grid-template-columns: repeat(12, 1fr);
		// grid-template-rows: 1fr 1fr 1fr 1fr;

		// .supervisor {
		// 	grid-column-start: 1;
		// 	grid-column-end: 5;
		// 	grid-row-start: 2;
		// 	grid-row-end: 2;

		// }
		// .team-builder {
		// 	grid-column-start: 5;
		// 	grid-column-end: 9;
		// 	grid-row-start: 1;
		// 	grid-row-end: 2;
		// }
		// .karma {
		// 	grid-column-start: 5;
		// 	grid-column-end: 9;
		// 	grid-row-start: 2;
		// 	grid-row-end: 2;
		// }
		// .calculator {
		// 	grid-column-start: 9;
		// 	grid-column-end: 13;
		// 	grid-row-start: 2;
		// 	grid-row-end: 2;

		// }
	}


}